<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- AIzaSyAc3ISozQykmF-NyCpugWIKsYgGs7U4jjU -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Padyak"
        tools:targetApi="31">
        <activity
            android:name=".frmAlertGroup"
            android:exported="false" />
        <activity
            android:name=".frmTrackEvent"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmAlertInfo"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmAdminAlert"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmEventCrud"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmEventManagement"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmRoute"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmFindLocation"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmAlertSend"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmEventParticipants"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmEventRegister"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmEventInfo"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmEventCalendar"
            android:configChanges="screenSize|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".frmMain"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmRegister"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmLogin"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frmSplash"
            android:configChanges="screenSize|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAc3ISozQykmF-NyCpugWIKsYgGs7U4jjU" />
    </application>

</manifest>